[submodule "deps/es5-shim"]
	path = deps/es5-shim
	url = https://github.com/kriskowal/es5-shim.git
[submodule "deps/polyfills"]
	path = deps/polyfills
	url = https://github.com/remy/polyfills.git
[submodule "deps/tweaker.js"]
	path = deps/tweaker.js
	url = https://github.com/tombooth/tweaker.js.git
[submodule "deps/lsystem.js"]
	path = deps/lsystem.js
	url = https://github.com/tombooth/lsystem.js.git
[submodule "deps/subscribable"]
	path = deps/subscribable
	url = https://github.com/steveukx/Subscribable.git
[submodule "deps/codemirror"]
	path = deps/codemirror
	url = https://github.com/marijnh/CodeMirror.git
